/*------------------------------------ BASE STYLING ----------------------------------*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    margin:0;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    font-size: 24px;

}

h1{
    margin:0;
    color:aliceblue;
    font-size: 64px;
}

.main{
    margin: 0 60px;
    display: block;
    padding: 200px 0px;
    
}

.container{
    margin: 0 60px;
    padding: 0 60px;
    max-width: 1400px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------------------------ FORM INPUTS & LIST STYLES ----------------------------------*/

.todo-input{
    background-color: transparent;
    border: 0px transparent;
    box-shadow: 1px 3px 10px rgba(36, 36, 36, 0.781);
    display: inline;
    width: 300px;
    height: 30px;
    border-radius: 6px;
    
}

.todo-button{
    color: white;
    background-color: transparent;
    border: 0px;
    margin-left:10px;
    font-size:30px;
    cursor: pointer;
}

.todo-button:hover{
    color: rgba(36, 36, 36, 0.781);
    transition: 200ms;
}

span{
    color: rgba(36, 36, 36, 0.781);
    text-decoration: line-through;
    margin-right:10px;
}

.input-container{
    display: flex;

}

li{
    list-style:none;
}
.todo-list{
    margin-top:30px;
}

.complete-btn, .trash-btn{
    font-size: 30px;
    background-color: transparent;
    border: 0;
    color: white;
    margin-left:21px;
    cursor: pointer;
}

.complete-btn:hover{
    color: rgba(36, 36, 36, 0.781);
    transition: 200ms;
}

.trash-btn:hover{
    color: rgba(36, 36, 36, 0.781);
    transition: 200ms;
}

.fa-circle-minus, .fa-circle-check{
    pointer-events: none;
}

.todo{
    display: flex;
    margin-top: 30px;

}

.todo-item{
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.233);
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(49, 49, 49, 0.199)
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(30px);
    opacity: 0;
    transition: 200ms;
}

/*------------------------------------ RESPONSIVENESS ----------------------------------*/

@media only screen and (max-width:725px){
    .main{
        margin: 0 10px;
        padding:150px 0px;
    }

    h1{
    font-size: 52px;
    text-align: center;
    line-height: 100%;
    }

    span{
    margin:0;
    }

    header{
        margin-bottom: 40px;
    }

    .todo-item{
        min-width: 250px;
    }
}

@media only screen and (max-width:520px){

}